@use "../../styles/colors";

.socialbar {
  grid-area: socialbar;

  display: flex;
  flex-direction: column;
  gap: 22px;
  background-color: colors.$discord-7;
  padding: 20px 12px 20px 12px;
  overflow-y: auto;
}