@use "../../styles/colors";

.serverbar {
  grid-area: serverbar;

  background-color: colors.$discord-9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 6px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;

  &__divider {
    border-color: colors.$discord-5;
    width: 30px;
  }

  &__direct-messages {
    color: white;
    background-color: colors.$discord-7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 48px;
    height: 48px;
    transition: all .2s;
    flex-shrink: 0;

  }

  &__direct-messages:hover {
    border-radius: 35%;
    background-color: colors.$discord-1;
  }

  &__add-server {
    color: #3ba55d;
    background-color: colors.$discord-7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 48px;
    height: 48px;
    transition: all .2s;
    flex-shrink: 0;
    margin-bottom: 30px;
  }

  &__add-server:hover {
    border-radius: 35%;
  }
}

.serverbar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

