$discord-1: #5865F2;
$discord-2: #cfd4d7;
$discord-3: #a3a4a4;
$discord-35: #a8a8a8;
$discord-4: #3c4044;
$discord-5: #36393e;
$discord-7: #2f3136;
$discord-8: #292b2f;
$discord-9: #202225;

$status-online: #3ba55c;
$status-offline: #747f8d;
$status-idle: #faa61a;
$status-dnd: #ed4245;

/*https://gist.github.com/Soheab/d9cf3f40e34037cfa544f464fc7d919e*/