@import "../../styles/fonts";

.app {
  display: grid;
  height: 100vh;
  /*
  you can do this whaaaaaa i just spent 6 hours with flexbox stopping shit from randomly overflowing everywhere
  */
  grid-template-columns: 72px 240px auto 250px;
  grid-template-rows: 48px auto 48px;
  grid-template-areas:
    'serverbar sidebar header header'
    'serverbar sidebar chat socialbar'
    'serverbar sidebar chat socialbar';
}
